
<br>


<div class="text-center">  <h1><bold> ADMIN PAGE </bold></h1> </div><br>



<center>
<div class="card text-center bg-light w-75">
  <div class="card-body">
    <h5 class="card-title">Sellers</h5>
    

<table  class="table p-5">
  <thead class="thead-light">
    <tr>
      <th scope = "col" >User</th>
      <th scope = "col" >Email</th>
      <th scope = "col" >rating</th>
      <th scope = "col" >Delete User</th>
    </tr>
  </thead>
  <tbody>
 <% User.each do |i| %>
    <tr>
      <td><%=i.id%></td>
      <td><%=i.email%></td>
      <td>5 stars</td>
      <td><a href=<%="deleteuser/"+ (i.id).to_s %>><button type="button" class="btn btn-danger">Delete</button>
</a></td>
    <%end%>
  </tbody>
</table>




  </div>
</div>


</center><br>





