<!-- Main jumbotron for a primary marketing message or call to action -->



<style>
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

</style>

<div class="jumbotron" style="background-color: #000000;">
          


        <div class="container">
                <h1 class="display-1">Borrow It! </h1>
                <p >RENT, BUY, and SELL.</p>

                  <div id = "item">
                      <nav class="navbar navbar-clear bg-clear">
                        <form class="form-inline">
                          <input href="videos" class="form-control mr-sm-2" type="search" placeholder="What Item?" aria-label="Search">
                          <button href="videos" role="button" id = "search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                      </nav>



                   </div>

                 
                 

                  




                  <div id = "zip">
                    <nav class="navbar navbar-clear bg-clear">
                      <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="What's your zipcode?" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </nav>  </br>

                   </div>


            </div>


            

    </div>





    
  



  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="videos" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>










</div> <!-- /container -->