<div>
 <form action ="/videos/create" method="POST">

<p1> Title:<input type="text" name="title"> </p1><br>

<div>
<p1>Decription: <input type="text" name="description"> </p1><br>
<p1>URL: <input type="text" name="video_url"></p1><br>
<p1> Pro: <input type="checkbox" name="pro"> </p1><br><br>
<input type="submit" name="Submit"><br><br><br><br><br>
</div>


</form>
</div>