<!-- Seller's profile displaying seller rating and all items the user has in their marketplace -->



<style type="text/css">
		.img-circle {
    		border-radius: 50%;
    		  width: 10%;

		}
	</style>

<div class = "text-left p-5">

<img class="img-circle" src="https://www.w3schools.com/howto/img_avatar.png">


    <h4>seller</h4>

      <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="heading">Seller Rating</span>
<span class="fa fa-star "></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<p>5 star average based on 13 reviews.</p>


</div>






	<div class="text-center container">
		<div class="card-columns">
				<div class="card">
					<div class= text-center>
				    	<img class="card-img-top" src="https://www.lg.com/us/images/tvs/md05802269/gallery/medium01.jpg" style=" width:100px; height:100px" alt="Card image cap">
					</div>
				    <div class="card-body text-center">
				      <h5 class="card-title">Tv</h5>
				      <p class="card-text">Price:$<em>$45.00</em></p>

				       	<% if current_user%>
				     	 <a href=<%="/" %> name="id" class=" btn btn-primary">Contact Seller</a>
				     	<% else %>
				     	<button type="button" class="btn btn-secondary " data-toggle="tooltip" data-placement="left" title="Login to view">
  						Contact Seller
						</button>
				    </div>
				</div>
			<% end %>
		</div>
	</div>








