<!-- This is the seller's review page. Customers who have made transactions with the seller leave their feedback about the seller. -->



<style type="text/css">
		.img-circle {
    		border-radius: 50%;
    		  width: 10%;

		}
	</style>

<div class = "text-center p-4">

<img class="img-circle" src="https://www.w3schools.com/howto/img_avatar.png">


    <h4>Adam_sellz</h4>

      <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- A star rating system -->
<span class="heading">Seller Rating</span>
<span class="fa fa-star "></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<p>5 star average based on 13 reviews.</p>


</div>




<!-- Dummy table od reviews.  -->

<table  class="table p-5">
  <thead class="thead-light">
    <tr>
      <th scope = "col" >User</th>
      <th scope = "col" >Rating</th>
      <th scope = "col" >Review</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Pancho_956</td>

		<td><div>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		</div></td>    
      <td>Best speaker I've ever purchased. Great sound, loud, battery lasts longer than any other speaker I've had. Awesome seller to do bussiness with.</td>
     
    <tr>

     <td>Pancho_956</td>

		<td><div>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		</div></td>    
      <td>Best speaker I've ever purchased. Great sound, loud, battery lasts longer than any other speaker I've had. Awesome seller to do bussiness with.</td>


       </tbody>
</table>
  


