<div class="container">
  <% @videos.each do |v| %>

  <h2>  <%= v.title %>   
  	    <% if v.pro == true %>
          <button type="button" class="btn btn-success">PRO VID</button></br>
        <% end %>

	     </h2> 



  <p><%= v.description %></p>
  <%= youtube_embed(v.video_url) %></br></br></br></br>

  

  <% end %>
</div>